/* based on https://www.w3schools.com/howto/howto_css_flip_card.asp */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
  margin-top: 25px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* position and style the front and back side */

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  background-color: white;
  border: 1px solid black;
  color: black;
  height: 100%;
  display: table;
  width: 100%;
}

.flip-card-front span, .flip-card-back span {
  vertical-align:middle;
  display: table-cell;
  font-size: 18pt;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* do an horizontal flip on mouse hover | also on mobile click */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
